body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: beige;
}

.title {
  border: 3px solid rgb(250, 75, 100);
  width: 500px;
  margin: 0 auto;
}

img {
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: block;
  margin: 50px auto;
  width: 500px;
  padding: 0 25px;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

.description {
  /* border: 1px solid black; */
  text-align: left;
  width: 450px;
  margin: 25px auto;
}

.box {
  /* text-align: center; */
  border: 3px solid rgb(250, 75, 100);
  width: 500px;
  margin: 2rem auto;
}

.box p {
  /* border: 1px solid black; */
  text-align: left;
  margin-left: 5%;
  font-size: 3rem;
  font-weight: 400;
  width: fit-content;
}

.list {
  /* border: 1px solid black; */
  line-height: 1.5em;
  width: 450px;

}