body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;
}

img {
  display: block;
  margin: 50px auto;
  width: 500px;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

.description,
.box {
  font-size: 2rem;
}

/* .box {
  text-align: center;
  border: 3px solid black;
  margin: 100px;
  overflow-wrap: break-word;
} */

.box ul,
.box ol {
  display: inline-block;
  text-align: left;
  line-height: 1.5em;
}
/* 
.unordered_list li {
  text-align: left;
} */

.box p {
  text-align: left;
  margin-left: 10%;
  font-size: 3rem;
  font-weight: 400;
}
