body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(76, 44%, 34%);
  color: rgb(51, 255, 0);
}

h1 {
  text-align: center;
  font-size: 4rem;
  /* border: 1px solid black; */
}

.box {
  box-sizing: border-box;
  /* text-align: center; */
  color: black;
  border: 3px dashed violet;
  width: fit-content;
  /* padding: 2rem; */
  margin: 0 auto;
}

.recipe_list {
  /* border: 1px solid; */
  display: inline-block;
  /* margin: 1rem; */
  padding-right: 1.5rem;
  /* text-align: left; */
  /* margin-left: -5%; */
}

.recipes {
  margin: 1rem 0;
}
